@charset "UTF-8";
body {
  font-family: 'Microsoft JhengHei', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

label {
  font-weight: normal;
}

.alert {
  margin: 10px 0;
}

.btn-day {
  background-color: #3BA99C;
  color: #fff;
}

.btn-day:hover {
  background-color: #2e8379;
  color: #fff;
}

.btn-month {
  background-color: #33658A;
  color: #fff;
}

.btn-month:hover {
  background-color: #254a65;
  color: #fff;
}

.txt-red {
  color: #ff5b57;
}

option {
  font-size: 12px;
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
}

.swal2-modal .swal2-spacer {
  background: transparent;
}

.header .navbar-brand {
  width: 50%;
  max-width: 110px;
}

.header .navbar-logo {
  border-width: 11px;
  margin-top: 4px;
}

.navbar-brand b {
  font-size: 22px;
}

.nav {
  padding-top: 15px;
}

.points > span {
  background-color: #ffb000;
  display: block;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
}

.points:hover {
  opacity: 1 !important;
}

.panel-heading {
  padding-top: 20px;
}

.panel-search-box .btn-control {
  width: 34px;
  height: 34px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.panel-search-box .add-btn span, .panel-search-box .search-btn span {
  display: none;
}

.panel-search-box option {
  padding: 0px 2px 1px;
}

.panel-search select.form-control {
  width: 100%;
}

.panel-search .form-control {
  border-radius: .25rem;
}

.panel-search .date-btn .btn {
  padding: 6px;
}

@media (max-width: 1600px) {
  .panel-search-box {
    margin-bottom: 10px !important;
  }
  .panel-search-box .form-group {
    margin-bottom: 10px;
  }
  .panel-search-box .search-btn {
    margin-bottom: 10px;
  }
  .panel-search .date-btn .btn {
    margin-bottom: 10px;
  }
  .panel-search .date-select {
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .panel-search {
    margin-top: 10px;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .panel-search-box > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .panel-search-box .form-group {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .panel-search-box .form-group > .form-control {
    width: 100%;
  }
  .panel-search-box .add-btn span {
    display: inline-block;
    margin-left: 5px;
  }
  .panel-search-box .search-btn {
    width: 100%;
  }
  .panel-search-box .search-btn span {
    display: inline-block;
    margin-left: 5px;
  }
  .panel-search .date-select {
    width: 100%;
    margin-right: 0 !important;
  }
}

.select2-container--default
.select2-selection--multiple {
  border: 1px solid #d3d8de !important;
}

.select2-container,
.select2-search__field {
  width: 100% !important;
}

#img-dialog {
  width: 100%;
  height: 100%;
}

#img-dialog .close {
  color: #333;
  float: initial;
  position: absolute;
  right: 15px;
  top: 15px;
}

#img-dialog img {
  width: 100%;
}

#img-dialog .modal-body {
  padding-top: 40px;
  position: relative;
}

.form-control {
  border-radius: 2px;
}

.form-txt {
  padding: 8px 0 0;
}

.required::after {
  content: "*";
  display: inline-block;
  color: #ff5b57;
  margin-left: 5px;
}

.custom-file-input ~ .custom-file-label::after {
  content: "上传";
  line-height: 20px;
  height: 32px;
}

.custom-file-label, .custom-file-input {
  height: 34px;
}

.verification-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.verification-box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.verification-box > div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 60px;
  text-align: right;
}

.input-select .select2 {
  width: 100% !important;
}

.input-select .select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eff2f4;
}

.input-select .select2-container--default .select2-selection--single {
  border: 1px solid #d3d8df;
  border-radius: 2px;
}

.select2-container {
  z-index: 1051;
}

.modal-content {
  border-radius: .3rem;
}

.modal-select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-select-box > div {
  margin-right: 10px;
}

.modal-select-box > div:last-child {
  margin-right: 0;
}

.modal-select-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.modal-select-item .select2-selection--single {
  border-radius: 0 2px 2px 0;
  line-height: 32px !important;
  border: 1px solid #ced4da;
}

@media (max-width: 380px) {
  .modal-select-item .select2 {
    width: 76px !important;
  }
}

.modal-txt {
  border-radius: 2px 0 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
  background-color: #d3d8df;
  color: #495057;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal .switcher-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .switcher label {
  width: 40px;
  height: 20px;
}

.modal .switcher label::before {
  width: 40px;
  height: 20px;
}

.modal .switcher label::after {
  width: 16px;
  height: 16px;
}

.modal .switcher input:checked + label:after {
  left: 22px;
}

.dropzone-box .dropzone {
  padding: 10px;
}

@media (max-width: 991px) {
  .dropzone-box .dropzone .dz-message {
    font-size: 15px !important;
  }
}

.dropzone-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropzone-box form .dz-message {
  text-align: center;
  width: 100%;
}

.dropzone-box form.dz-started .dz-message {
  display: block;
  margin: 10px !important;
}

.dropzone-box form .dz-preview {
  width: calc(100% / 4 - 20px);
  margin: 10px;
}

.dropzone-box form .dz-preview .dz-image {
  width: 100%;
  border-radius: 3px;
}

.dropzone-box form .dz-preview img {
  width: 100%;
  height: 120px;
}

.dropzone-box form .dz-preview .dz-details {
  opacity: 1;
  position: relative;
  line-height: inherit;
  padding: 5px 0 0;
  text-align: left;
}

.dropzone-box form .dz-preview .dz-details .dz-size {
  display: none;
}

.dropzone-box form .dz-preview .dz-details .dz-filename span {
  width: calc(100% - 20px);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropzone-box form .dz-preview .dz-details .dz-filename:not(:hover) {
  width: calc(100% - 20px);
}

.dropzone-box form .dz-preview .dz-details .dz-filename:not(:hover) span {
  display: block;
  overflow: hidden;
}

.dropzone-box form .dz-preview .dz-error-mark {
  display: none;
}

.dropzone-box form .dz-preview .dz-error-message {
  top: 0;
}

.dropzone-box form .dz-preview .dz-error-message::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 100%;
}

.dropzone-box form .dz-preview .dz-remove {
  color: transparent;
  font-family: Font Awesome\ 5 Free;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 21;
}

.dropzone-box form .dz-preview .dz-remove::after {
  content: "\f2ed";
  color: #ff5b57;
}

.dropzone-box form .dz-preview:hover .dz-image img {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 991px) {
  .dropzone-box form .dz-preview {
    width: calc(100% / 2 - 20px);
  }
}

.btn-control {
  padding: 4px;
  border-radius: 2px;
}

#limits-dialog .toggle > div {
  cursor: pointer;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d6dce0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 3px;
  color: #2d353c;
  margin-bottom: 5px;
}

#limits-dialog .toggle > div i {
  margin-left: auto;
}

#limits-dialog .select-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

#limits-dialog .select-all > div {
  width: 50%;
  line-height: 24px;
  height: 24px;
}

#limits-dialog .select-all label {
  padding-left: 5px;
  color: inherit;
}

#limits-dialog .select-all label i {
  margin-right: 5px;
}

#limits-dialog .select-all input {
  margin-left: 0;
  margin-right: 5px;
  position: relative;
}

#limits-dialog .jstree-default .jstree-themeicon-custom {
  display: none;
}

#limits-dialog .jstree-anchor {
  width: calc(100% - 25px);
}

#limits-dialog .jstree-container-ul > li:first-child .jstree-ocl {
  background-image: url("../img/first-32px.png");
  background-position: 9px -4px;
}

#limits-dialog .tree-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#limits-dialog .tree-item i {
  margin-right: 5px;
}

#limits-dialog .tree-item span {
  display: block;
}

#limits-dialog .tree-item span:first-child {
  min-width: 70px;
}

#limits-dialog .tree-item .crud-box {
  width: calc(100% - 70px);
  text-align: right;
}

#limits-dialog .tree-item .crud-box > div {
  vertical-align: middle;
  display: inline-block;
}

#limits-dialog .tree-item .crud-box::before {
  content: "";
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  width: calc(100% - 25px);
  vertical-align: middle;
  display: inline-block;
}

.limit-main, .limit-sub, .limit-ssub {
  margin: 0;
  padding: 0;
  list-style: none;
}

.limit-main i, .limit-sub i, .limit-ssub i {
  margin-right: 5px;
}

.limit-main li, .limit-sub li, .limit-ssub li {
  cursor: pointer;
  position: relative;
}

.limit-main li div, .limit-sub li div, .limit-ssub li div {
  padding: 3px;
}

.limit-main li div:hover, .limit-sub li div:hover, .limit-ssub li div:hover {
  background-color: #cad0d2;
}

.limit-main li span, .limit-sub li span, .limit-ssub li span {
  display: inline-block;
  vertical-align: middle;
}

.limit-main li span:first-child, .limit-sub li span:first-child, .limit-ssub li span:first-child {
  width: 145px;
}

.limit-main .crud-box, .limit-sub .crud-box, .limit-ssub .crud-box {
  width: calc(100% - 145px);
  text-align: right;
}

.limit-main .crud-box > div, .limit-sub .crud-box > div, .limit-ssub .crud-box > div {
  vertical-align: middle;
  display: inline-block;
}

.limit-main .crud-box::before, .limit-sub .crud-box::before, .limit-ssub .crud-box::before {
  content: "";
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  width: calc(100% - 25px);
  vertical-align: middle;
  display: inline-block;
}

.limit-sub li, .limit-ssub li {
  margin-bottom: 0;
  padding-left: 30px;
  background-position: -292px -4px;
  background-repeat: repeat-y;
  background-image: url(../assets/plugins/jstree/dist/themes/default/32px.png);
}

.limit-sub li > div, .limit-ssub li > div {
  padding: 0 3px;
}

.limit-sub li::before, .limit-ssub li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -75px -6px;
  background-image: url(../assets/plugins/jstree/dist/themes/default/32px.png);
  position: absolute;
  left: 7px;
}

.limit-main > li:last-child::after, .limit-ssub > li:last-child::after {
  content: "";
  display: block;
  width: 4px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.limit-ssub {
  padding-left: 0;
  margin-left: -5px;
}

.table-box .td-img img {
  width: 150px;
}

.table-box > thead > tr > th {
  border-top: 1px solid #b6c2c9 !important;
}

.table-box > tbody > tr > td {
  vertical-align: middle;
  padding: 5px 10px;
}

.table-box .btn {
  line-height: 12px;
}

.table-status {
  width: 100px;
}

.pagination-box .page-item.active .page-link {
  background-color: #545b62 !important;
  border-color: #545b62 !important;
}

.pagination-box .page-item.active .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination-box .page-item .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.upload-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.upload-box .text-red {
  position: absolute;
  left: 100px;
  top: 9px;
}

.upload-box .img-show {
  margin-top: 10px;
  border: 1px solid #d3d8de;
  padding: 5px;
  border-radius: 3px;
  display: none;
}

.upload-box .img-show img {
  border-radius: 3px;
}

.custom-file {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: inherit;
  height: inherit;
  margin: 3px 5px 3px 0;
  position: relative;
}

.custom-file img {
  max-width: 250px;
}

.custom-file input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom-file .custom-file-upload {
  background-color: #d3d8df;
  color: #fff;
  display: inline-block;
  color: #495057;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 0;
}

.custom-file .custom-file-upload:hover {
  background-color: #b5beca;
  color: #fff;
}

.upload-info td {
  min-width: 100px;
  vertical-align: middle;
}

.upload-info td img {
  height: 100px;
}

.upload-info td span a {
  width: 25px;
  height: 25px;
  line-height: 15px;
}

.basic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.basic-item:nth-child(2n+1) {
  margin-right: 10px;
}

.basic-item .title {
  width: 90px;
}

.basic-item .input {
  width: calc(100% - 90px);
}

@media (min-width: 768px) and (max-width: 991px) {
  .basic-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basic-item {
    width: 100%;
  }
  .basic-item:nth-child(2n+1) {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .basic-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basic-item {
    width: 100%;
  }
  .basic-item:nth-child(2n+1) {
    margin-right: 0;
  }
}

.table-img img {
  height: 60px;
}

.date-select-modal > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-select-modal > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-select-modal > div > div .title {
  width: 40px;
}

.editable-popup {
  top: -15px !important;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.editable-submit.btn-primary {
  background: #49b6d6;
  border-color: #49b6d6;
}

.table-rate th {
  min-width: 150px;
}

.table-rate th:nth-child(1) {
  min-width: 30px;
}

.rate-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.rate-input .form-check {
  margin-right: 5px;
}

.rate-input .form-input input {
  width: 75px;
  padding: 6px;
}

.error h4 {
  font-size: 1.6em;
  text-shadow: 3px 5px 0px #c4ccd4;
  color: #b11407;
}

.error h5 {
  font-size: .5em;
  color: #666;
}

.error img {
  width: 110px;
  margin-right: 10px;
}

.error-message {
  color: #2b3033;
  font-size: 40px;
  line-height: 2.5;
  font-weight: bold;
  text-align: left;
}

.error-code {
  padding: 15px;
  position: relative;
  line-height: 20px;
  text-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 575px) {
  .error h4 {
    font-size: 1.1em;
  }
  .error h5 {
    font-size: .3em;
  }
  .error-message {
    text-align: center;
  }
}
